#logo{
  width: 60px;
  height: 60px;
}

a{
  text-decoration: none;
}

img{
  
}

tbody{
  display: flex;
}

footer {
    padding: 20px;
    width: 100%;
    text-align: center;
  }
  
  footer img {
    height: 100px;
  }